* {
  box-sizing: border-box;
}

body {
  padding: 0 14% 5% 14%;
}

img {
  width: 100%;
  border-radius: 50%;
}

header {
  background-image: url("../img/milkbg.jpg");
  width: 100%;
  background-repeat: no-repeat;
  text-align: center;
  height: 350px;
  background-position: center;
}

h2 {
  text-align: center;
}

.row {
  text-align: center;
}

.about-us {
  text-align: center;
}

.about-text {
  text-align: left;
}

.contact-us {
  margin-top: 2%;
  text-align: center;
  /* margin-bottom: 20px; */
}

footer {
  /* height: 100px; */
}
